html{
  margin: 0 auto;
  text-align: center;
}
.wrapper{
  width: 500px;
  height: 800px;
  background: rgb(102,72,136);
background: linear-gradient(180deg, rgba(102,72,136,1) 0%, rgba(130,74,129,1) 100%);
  margin: 0 auto;
 font-size: 20px;
  color: white;
}
/* navbar area 
*/
p{
  font-size: 25px;
}
.top-part{
  padding: 40px;
}
.total-btn{
  width:200px;
  height: 40px;
  font-size: 30px;
}
/* Funtion buttons
*/

span{
  font-family: 'Noto Sans', sans-serif;
  color: #171717;
  width:200px;
  height: 33.3px;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  pointer-events:none;
  margin: 15px;
}
#clickCount{
  width:135px;
  height:23px;
  background: #eeeeee;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  color: black;
  text-align: center;
  padding: 7.5px;
  border-radius: 2px;
}
button[type=button]{
  font-family: 'Noto Sans', sans-serif;
  color: black;
  width:150px;
  height: 36px;
  font-size: 20px;
  border:none;
  border-radius: 2px;
  margin: 45px;
}  
button[type=button]:hover{
  font-family: 'Noto Sans', sans-serif;
  color: red;
  background-color: #b7b7b7;
}
button.Up:hover{
  color:green;
}
